.payment-container {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.payment-container--wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(10rem + 40vw));
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}

.payment-details {
  width: 100%;
  background-color: var(--color-primary-variant);
  border-radius: 1rem;
  overflow: hidden;
  /* border: 2px solid yellow; */
  text-align: center;
  padding: calc(1em + 1vw);
}

.payment-details > * {
  font-family: "Segoe-Bold";
  font-weight: 100;
}

.payment-details > h1 {
  font-size: calc(1rem + 1vw);
  text-transform: uppercase;
  color: var(--color-secondary);
  /* border: 1px solid red; */
}

.payment-details > p {
  font-size: calc(0.25rem + 1vw);
  color: var(--color-dark-opaque);
  margin: calc(0.75em + 1vw) 0 calc(0.1em + 1vw) 0;
  /* border: 1px solid red; */
}

.payment-details > img {
  display: inline-block;
  max-width: calc(5rem + 6vw);
  /* border: 1px solid red; */
}

@media screen and (max-width: 480px) and (max-height: 920px) {
  .payment-details > h1 {
    font-size: calc(0.9rem + 1vw);
  }
  .payment-details > p {
    font-size: calc(0.45rem + 1vw);
  }
}
